.main_text1 {
    /*width: 441px;
    height: 66px;*/
    font-family: 'Cabin Sketch';
    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    line-height: 80.5%;
    color: #333333;
}

.main_text2 {
    /*width: 441px;
    height: 66px;*/
    width: 90%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 22px;
 }



 .button1 {
    width: 264px;
    height: 66px;
    color: white;
    background-color: #CF3031;
    border-radius: 20px;
    box-shadow: 0px 30px 45px rgba(207, 48, 49, 0.3);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border: 0;
 }

 .button1:hover { outline: solid #CF3031; }

 .button1 span {
    font-weight: 300;
    font-size: 12px;
 }

 .button2 {
    width: 150px;
    height: 66px;
    color: #4F4F4F;
    background-color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    border-radius: 20px;
 }

 .button2:hover { outline: solid #4F4F4F; }

 .bottom_text {
    color:#333333;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 3em;
 }

 .bottom_text span {
    color: #CF3031;
 }

 .b_logos {
    max-width: 282px;
    /*max-height: 282px;*/
    width: 92%;
    height: 92%;
    box-shadow: 0px 4px 50px rgba(71, 85, 114, 0.15);
    border-radius: 50px;
 }

 .b_logos img {
   max-width: 220px;
 }